<h1>Friends Index</h1>
{{! The context here is the controller}}
<h2>Total friends: {{length}}</h2>
<ul>
  {{#each}}
    <li>
      {{#link-to 'mrFriends.show' this}}
        {{firstName}} {{lastName}}
      {{/link-to}}
    </li>
  {{/each}}
</ul>
